<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Learning Formation NodeJS</title>
  <link rel="icon" type="image/png" href="/public/img/logo.png">
  <link rel="stylesheet" href="/public/css/style.css">

  <script src="/public/js/script.js" defer></script>
</head>

<body>
    <div id="uiTitle"><h1>TEST NODEJS LEARNING FORMATION PROJECT</h1></div>
    <div id="uiContainer">
        <div id="uiPartsContainer">
            <div class="uiParts" onclick='openWindow("users"); '><div class="uiPartsText">Users</div></div>
            <div class="uiParts" onclick='openWindow("vehicles"); '><div class="uiPartsText">Vehicles</div></div>
            <div class="uiParts" onclick='openWindow("rentals"); '><div class="uiPartsText">Rental</div></div>
            <div class="uiParts" onclick='openWindow("comments"); '><div class="uiPartsText">Comment</div></div>
        </div>
    </div>
</body>

</html>
