<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Learning Formation NodeJS</title>
  <link rel="icon" type="image/png" href="/public/img/logo.png">
  <link rel="stylesheet" href="/public/css/style.css">

  <script src="/public/js/script.js" defer></script>
</head>

<body>
    <div id="users-ui-container">
        <h1 class="center">USERS TESTS</h1>
        <div class="formsSuperContainer">
            <div class="formsContainer">
                <div class="subFormsContainer">
                    <h3>Signup</h3>
                    <form id="signupForm" class="formulaire">
                        <label for="email" class="block">Mail</label>
                        <input type="email" id="email" name="email" class="inputForm">
                        <label for="pseudo" class="block">Pseudo</label>
                        <input type="text" id="pseudo" name="pseudo" class="inputForm">
                        <label for="password" class="block">Password</label>
                        <input type="password" id="password" name="password" class="inputForm">
                        <label for="role" class="block">Rôle</label>
                        <select id="role" name="role" class="inputForm">
                            <option value="locataire" class="usersRolesOptions">Locataire</option>
                            <option value="prestataire" class="usersRolesOptions">Prestataire</option>
                        </select>
                        <button type="submit">Envoyer</button>
                    </form>
                </div>
                <div class="subFormsContainer">
                    <h3>Login</h3>
                    <form id="loginForm" class="formulaire">
                        <label for="email" class="block">Mail</label>
                        <input type="email" id="email" name="email" class="inputForm">
                        <label for="password" class="block">Password</label>
                        <input type="password" id="password" name="password" class="inputForm">
                        <button type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>