<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Learning Formation NodeJS</title>
  <link rel="icon" type="image/png" href="/public/img/logo.png">
  <link rel="stylesheet" href="/public/css/style.css">

  <script src="/public/js/script.js" defer></script>
</head>

<body>
    <h1 class="center">VEHICLES TESTS</h1>
    <div class="formsSuperContainer">
      <div class="formsContainer vehicle">
          <div class="subFormsContainer">
              <h3>Add Category</h3>
              <form id="createCategorieForm" class="formulaire">
                  <label for="libelle" class="block">Libellé</label>
                  <input type="text" id="libelle" name="libelle" class="inputForm">
                  <button type="submit">Send</button>
              </form>
          </div>
          <div class="subFormsContainer">
              <h3>Add Vehicle</h3>
              <form id="createVehicleForm" class="formulaire">
                  <label for="libelle" class="block">Libellé</label>
                  <input type="text" id="libelle" name="libelle" class="inputForm">
                  <label for="description" class="block">Description</label>
                  <input type="text" id="description" name="description" class="inputForm">
                  <label for="imageUrl" class="block">URL de l'image</label>
                  <input type="text" id="imageUrl" name="imageUrl" class="inputForm">
                  <label for="priceDay" class="block">Prix/Jour</label>
                  <input type="number" id="priceDay" name="priceDay" class="inputForm" min="1" max="500">
                  <label for="category" class="block">Catégorie</label>
                  <select id="category" name="category" class="inputForm">
                  </select>
                  <button type="submit">Send</button>
              </form>
          </div>
          <div class="subFormsContainer">
              <h3>Upd Vehicle</h3>
              <form id="updateVehicleForm" class="formulaire">
                  <label for="libelleToUpd" class="block">Libellé</label>
                  <input type="text" id="libelleToUpd" name="libelle" class="inputForm">
                  <label for="descriptionToUpd" class="block">Description</label>
                  <input type="text" id="descriptionToUpd" name="description" class="inputForm">
                  <label for="imageUrlToUpd" class="block">URL de l'image</label>
                  <input type="text" id="imageUrlToUpd" name="imageUrl" class="inputForm">
                  <label for="priceDayToUpd" class="block">Prix/Jour</label>
                  <input type="number" id="priceDayToUpd" name="priceDay" class="inputForm" min="1" max="500">
                  <label for="categoryToUpd" class="block">Catégorie</label>
                  <select id="categoryToUpd" name="category" class="inputForm">
                  </select>
                  <button type="submit">Send</button>
              </form>
          </div>
          <div class="subFormsContainer">
              <h3>Get Vehicles By Category</h3>
              <form id="categoryForGetVegiclesForm" class="formulaire">
                  <label for="categoryForGetVegicles" class="block">Catégorie</label>
                  <select id="categoryForGetVegicles" name="category" class="inputForm" onchange="getVehiclesByCategory(this.value); "></select>
              </form>
          </div>
          <div class="subFormsContainer">
              <h3>Get Vehicle Details</h3>
              <form id="getVegicleDetailForm" class="formulaire">
                  <label for="getVegicleDetail" class="block">Vehicle</label>
                  <select id="getVegicleDetail" name="vehicleDetail" class="inputForm" onchange="getVehicleDetail(this.value); "></select>
                  <button type="submit">Delete</button>
              </form>
          </div>
      </div>
  </div>
</body>

</html>